@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body{
  font-family: "Noto Serif";
  color: var(--secondary);
  background-color: whitesmoke;
}
.App{
  max-width: 960px;
  margin: 0 auto;
}
.title h1{

 color:blue;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2, .title p{
  text-align: center;
}
.title h2{
  margin-top: 60px;
  font-size: 2.6rem;
}

/* upload form styles */
form{
  margin: 30px auto 10px;
  text-align: center;
}
label input{
  height: 0;
  width: 0;
  opacity: 0;
}
label{
  display: block;
  width: 30px;
  height: 30px;
  /*border: 1px solid var(--primary);*/
  border: 1px solid blue;
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  /*color: var(--primary);*/
  color:blue;
  font-weight: bold;
  font-size: 24px;
}
label:hover{
  /*background: var(--primary);*/
  background:blue;
  color: white;
}
.output{
  height: 60px;
  font-size: 0.8rem;
}
.error{
  color: var(--error);
}

/* progress bar styles */
.progress-bar{
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

/* image grid styles */
.img-grid{
  margin: 20px auto;
 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.img-wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}
.img-wrap img{
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

/* modal styles */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.backdrop img{
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
}

img.image-grid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
img:hover{
  opacity:0.7;
}
button:focus{
  outline:none;
  border:none;
}
.image-container {
  position: relative;
}

.favorite {
  color: grey;
  font-size: 1.2rem;
  position: absolute;
  top: 280px;
  right: 5px;
  cursor: pointer;
 
}

.fav{
  color: red;
  font-size: 1.2rem;
  position: absolute;
  top: 280px;
  right: 25px;
  cursor: pointer;
}

.empty{
  color: red;
  font-size: 1.2rem;
  position: absolute;
  top: 280px;
  right: 25px;
  cursor: pointer;
  color:red;
}
.down{
  color: blue;
  font-size: 1.2rem;
  position: absolute;
  top: 280px;
  right: 45px;
  cursor: pointer;
  
}

.change{
  
  font-size: 1.2rem;
  position: absolute;
  top: 290px;
  right: 85px;
  cursor: pointer;
  
}

@media only screen and (max-width:600px){
  .fav{
    color: red;
    font-size: 1.2rem;
    position: absolute;
    top: 50px;
    right: 5px;
    cursor: pointer;
  } 
}